/Web Calendar Spring/stage1/src/webCalendarSpring/entities/BookEntity.java
/Web Calendar Spring/stage1/src/webCalendarSpring/repositories/BookRepository.java
/Web Calendar Spring/stage2/src/webCalendarSpring/entities/BookEntity.java
/Web Calendar Spring/stage4/src/webCalendarSpring/entities/BookEntity.java
/Web Calendar Spring/stage4/src/webCalendarSpring/Book.java